<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongfu.dao.CompanyDao" >
  <resultMap id="BaseResultMap" type="com.tongfu.entity.Company" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="BIGINT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="license" property="license" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="BIGINT" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="backgroundImg" property="backgroundimg" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="qr_code" property="qrCode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tongfu.entity.Company" extends="BaseResultMap" >
    <result column="introduction" property="introduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, create_date, modify_date, name, logo, area, address, mobile, province, city,
    introduce, license, area_id, status, message, start_date, end_date, backgroundImg,
    url, qr_code
  </sql>
  <sql id="Blob_Column_List" >
    introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tf_company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByAdminId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tf_company
    where admin_id = #{adminId,jdbcType=BIGINT}
  </select>

  <select id="getAll" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
    SELECT C.*,  A.`name` AS aname ,A.username as ausername,A.email AS aemail,Ar.full_name FROM
    tf_company C
    LEFT JOIN   tf_admin A ON  A.`company_id` = C.`id`
    LEFT JOIN tf_area Ar ON C.`area_id` = Ar.id
    WHERE 1 = 1 and A.type = 1 and A.company_id is not null
    <if test="cname!=null and cname !='' ">
      and C.name like '%${cname}%'
    </if>
    <if test="adminName!=null and adminName !=''">
      and A.name like '%${adminName}%'
    </if>
    <if test="adminEmail!=null and adminEmail !=''">
      and A.email like '%${adminEmail}%'
    </if>
    <if test="adminUserName!=null and adminUserName !=''">
      and A.username like '%${adminUserName}%'
    </if>
    <if test="status!=null">
      <if test="status!=4">
        and C.status = #{status,jdbcType=BIGINT}
      </if>
      <if test="status==4">
        and NOW() > C.end_date
      </if>
    </if>
    <if test="mobile!=null and mobile !=''">
      and C.mobile like '%${mobile}%'
    </if>
    ORDER BY C.create_date DESC

  </select>

  <select id="getVisitsRanking" resultType="java.util.HashMap" parameterType="java.util.HashMap" >
    SELECT * FROM (
    SELECT title,hits ,company_id FROM tf_journalism
    UNION ALL
    SELECT title,hits ,company_id FROM tf_learning
    UNION ALL
    SELECT title,hits,company_id FROM tf_media
    UNION ALL
    SELECT title,hits ,company_id FROM tf_exhibition
    ) A WHERE A.company_id = #{companyId} ORDER BY A.hits DESC
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tf_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tongfu.entity.Company" >
    insert into tf_company (id, create_date, modify_date,
      name, logo, area, address,
      mobile, province, city,
      introduce, license, area_id,
      status, message, start_date,
      end_date, backgroundImg, url,
      qr_code, introduction)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP},
      #{name,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{area,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{introduce,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, #{areaId,jdbcType=BIGINT},
      #{status,jdbcType=BIGINT}, #{message,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP},
      #{endDate,jdbcType=TIMESTAMP}, #{backgroundimg,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
      #{qrCode,jdbcType=VARCHAR}, #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tongfu.entity.Company" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
    insert into tf_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="license != null" >
        license,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="backgroundimg != null" >
        backgroundImg,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="qrCode != null" >
        qr_code,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="backgroundimg != null" >
        #{backgroundimg,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null" >
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tongfu.entity.Company" >
    update tf_company
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="backgroundimg != null" >
        backgroundImg = #{backgroundimg,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null" >
        qr_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tongfu.entity.Company" >
    update tf_company
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      area = #{area,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      license = #{license,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=BIGINT},
      status = #{status,jdbcType=BIGINT},
      message = #{message,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      backgroundImg = #{backgroundimg,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tongfu.entity.Company" >
    update tf_company
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      area = #{area,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      license = #{license,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=BIGINT},
      status = #{status,jdbcType=BIGINT},
      message = #{message,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      backgroundImg = #{backgroundimg,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>