<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8" />
    <title>KnowHow管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico"  th:href="@{/assets/images/favicon.ico}" >

    <!-- third party css -->
    <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="assets/css/icons.min.css" th:href="@{/assets/css/icons.min.css}"  rel="stylesheet" type="text/css" />
    <link href="assets/css/app.min.css" th:href="@{/assets/css/app.min.css}"  rel="stylesheet" type="text/css" />



</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{admin/incloud/top::top}"></div>
<!-- end Topbar -->

<div class="container-fluid">
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{admin/incloud/left::left}"></div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">


                                <div class="row mb-2">
                                    <div class="col-lg-8">
                                        <form id="list" th:action="@{/admin/knowHowCode/list}" class="form-inline">
                                            <input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum}" />
                                            <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}" />
                                            <input type="hidden" id="knowHowId" name="knowHowId" th:value="${knowHowId}" />
                                            <div class="form-group mb-2">
                                                <label for="code" class="mr-2">knowHow卡号</label>
                                                <input type="search" class="form-control" name="code" th:value="${code}" id="code" placeholder="产品名称">
                                            </div>

                                            <div class="form-group ml-2 mb-2">
                                                <label class="mr-2">是否出售</label>
                                                <select class="custom-select" name="isSell">
                                                    <option value="">全部</option>
                                                    <option th:selected="${isSell==1}" value="1">是</option>
                                                    <option th:selected="${isSell==2}" value="2">否</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-lg-right">
                                            <button type="button" id="serch" onclick="updateAction('admin/knowHowCode/list')"  class="btn btn-light mb-2">搜索</button>
                                            <th:block th:if="${type == 2}">
                                                <button type="button" onclick="updateAction('admin/knowHowCode/dowlondKnowHowCode')" class="btn btn-danger mb-2 mr-2"><i class="mdi mdi-basket mr-1"></i>导出</button>
                                            </th:block>
                                        </div>
                                    </div><!-- end col-->
                                </div>
                                <label class="mr-2">总共 [[${page.total}]]条数据</label>
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead class="thead-light">
                                        <tr class="text-lg-center">
                                            <th>序号</th>
                                            <th>KnowHow卡号</th>
                                            <th>销售价</th>
                                            <th>面值</th>
                                            <th>是否出售</th>
                                            <th>类型</th>
                                            <th>有效期</th>
                                            <th style="width: 125px;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="knowHowCode,knowHowCodeStart :${page.list}" class="text-lg-center">
                                            <td th:text="${knowHowCodeStart.index+1}"></td>
                                            <td th:text="${knowHowCode.code}"></td>
                                            <td th:text="${knowHowCode.price}"></td>
                                            <td th:text="${knowHowCode.faceValue}"></td>
                                            <td th:text="${knowHowCode.isSell?'是':'否'}"></td>
                                            <td th:text="${knowHowCode.type==1?'电子卡':'实体卡'}"></td>
                                            <td >
                                                [[${#dates.format(knowHowCode.startDate,'yyyy-MM-dd HH:mm')}]]至[[${#dates.format(knowHowCode.endDate,'yyyy-MM-dd HH:mm')}]]
                                            </td>
                                            <td >
                                                <a th:href="@{/admin/knowHowCode/delete(id=${knowHowCode.id},knowHowId = ${knowHowId})}" >[删除]</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->

                <div th:replace="~{admin/incloud/page::page}"></div>

            </div> <!-- content -->

            <!--警告弹窗-->
            <th:block th:replace="~{admin/incloud/status::warning}"></th:block>

            <!-- Footer Start -->
            <div th:replace="~{web/incloud/footer::footer}"></div>
            <!-- end Footer -->
        </div> <!-- content-page -->

    </div> <!-- end wrapper-->

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END Container -->
<div class="rightbar-overlay"></div>
<!-- /Right-bar -->
<!-- App js -->
<script src="assets/js/app.min.js" th:src="@{/assets/js/app.min.js}"></script>

<!-- third party js -->
<script src="assets/js/vendor/jquery.dataTables.min.js" th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script src="assets/js/vendor/dataTables.bootstrap4.js" th:src="@{/assets/js/vendor/dataTables.bootstrap4.js}"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js" th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script src="assets/js/vendor/responsive.bootstrap4.min.js" th:src="@{/assets/js/vendor/responsive.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/dataTables.buttons.min.js" th:src="@{/assets/js/vendor/dataTables.buttons.min.js}"></script>
<script src="assets/js/vendor/buttons.bootstrap4.min.js" th:src="@{/assets/js/vendor/buttons.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/buttons.html5.min.js" th:src="@{/assets/js/vendor/buttons.html5.min.js}"></script>
<script src="assets/js/vendor/buttons.flash.min.js" th:src="@{/assets/js/vendor/buttons.flash.min.js}"></script>
<script src="assets/js/vendor/buttons.print.min.js" th:src="@{/assets/js/vendor/buttons.print.min.js}"></script>
<script src="assets/js/vendor/dataTables.keyTable.min.js" th:src="@{/assets/js/vendor/dataTables.keyTable.min.js}"></script>
<script src="assets/js/vendor/dataTables.select.min.js" th:src="@{/assets/js/vendor/dataTables.select.min.js}"></script>
<!-- third party js ends -->
<!-- demo app -->
<script src="assets/js/pages/demo.datatable-init.js" th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
<!-- end demo js-->
<script th:src="@{/assets/js/list.js}"></script>

<script>

    function updateAction(url){

        $("#list").attr('action','[[@{/}]]'+url);    //通过jquery为action属性赋值
        $("#list").submit();
    }


</script>
</body>
</html>