<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8" />
    <title>广告管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico"  th:href="@{/assets/images/favicon.ico}" >

    <!-- third party css -->
    <link th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link th:href="@{/assets/css/icons.min.css}"  rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/app.min.css}"  rel="stylesheet" type="text/css" />

    <style>
        .imgbox {
            position:relative;
            /*margin-left:100px;*/
        }
        .probox {
            width:300px;
            height:300px;
            border:1px solid #000;
        }
        .probox img {
            width:300px;
            height:300px;
            vertical-align:top;
        }
        .showbox {
            display:none;
            position:absolute;
            left:403px;
            top:0;
            width:400px;
            height:300px;
            overflow:hidden;
            border:1px solid #ccc;
        }
        .showbox img {
            position:absolute;
            height:1200px;
            width:1200px;
        }
        .hoverbox {
            display:none;
            position:absolute;
            top:0;
            background:#09f;
            border:1px solid #09f;
            height:15px;
            width:15px;
            cursor:move;
            z-index:10;
        }

    </style>


</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{admin/incloud/top::top}"></div>
<!-- end Topbar -->


<div class="container-fluid">
    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <!-- Start Content-->

        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{admin/incloud/left::left}"></div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <!-- end page title -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <th:block th:replace="~{admin/incloud/status::updateStatusForm('/admin/ad/updateAdStatus')}"></th:block>

                                <div class="row mb-2">
                                    <div class="col-lg-10">
                                        <form id="list" th:action="@{/admin/ad/list}" class="form-inline">
                                            <input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum}" />
                                            <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}" />
                                            <div class="form-group mb-2">
                                                <label class="mr-2">标题</label>
                                                <input type="search" class="form-control" name="title" th:value="${title}" id="title" placeholder="标题">
                                            </div>
                                            &nbsp;&nbsp;
                                            <div class="form-group mx-sm-3 mb-2">
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <label class="mr-2">位置</label>
                                                <select class="custom-select" name="adPosition" >
                                                    <option value="">请选择</option>
                                                    <option th:each="adP:${adPositions}" th:selected="${adPosition==adP.id}" th:value="${adP.id}" th:text="${adP.name}"></option>
                                                </select>
                                            </div>
                                            &nbsp;&nbsp;
                                            <th:block th:replace="~{admin/incloud/status::selectStatus}"></th:block>
                                            &nbsp;&nbsp;
                                            <div class="form-group mx-sm-3 mb-2">
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <label class="mr-2">展示状态</label>
                                                <select class="custom-select" name="adPosition" >
                                                    <option value="">请选择</option>
                                                    <option value="1">待展示</option>
                                                    <option value="2">展示中</option>
                                                    <option value="3">已过期</option>
                                                </select>
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label class="mr-2">供应商</label>
                                            </div>
                                            <div class="col-md-3" style="margin-top: -15px;">
                                                <select class="form-control select2" data-toggle="select2" name="companyId" >
                                                    <optgroup label="供应商">
                                                        <option hidden ></option>
                                                        <option value="0">自营广告</option>
                                                        <option th:selected="${companyId==company.id}" th:each="company:${companys}" th:value="${company.id}" th:text="${company.name}"  ></option>
                                                        <!--<option value="HI">Hawaii</option>-->
                                                    </optgroup>
                                                </select>
                                            </div>&nbsp;&nbsp;
                                            <div class="form-group mb-2">
                                                <label class="mr-2">发布时间</label>
                                                <th:block th:replace="~{admin/incloud/status::selectDate}"></th:block>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="text-lg-right">
                                            <button type="button" onclick="$('#list').submit();" id = "search" class="btn btn-light mb-2">搜索</button>
                                            <a th:href="@{/admin/ad/add}" ><button type="button" class="btn btn-danger mb-2 mr-2"><i class="mdi mdi-basket mr-1"></i>发布广告</button></a>
                                        </div>
                                    </div><!-- end col-->
                                </div>
                                <label class="mr-2">总共 [[${page.total}]]条</label>
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead class="thead-light">
                                        <tr class="text-lg-center">
                                            <th>序号</th>
                                            <th>标题</th>
                                            <th>所属供应商</th>
                                            <th>广告图片</th>
                                            <th>有效期</th>
                                            <th>广告位</th>
                                            <th>价格</th>
                                            <th>审核状态</th>
                                            <th>展示状态</th>
                                            <th>申请日期</th>
                                            <th style="width: 125px;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ad ,adStart :${page.list}" class="text-lg-center" th:id="'tr_'+${ad.id}">
                                            <td th:text="${adStart.index+1}"></td>
                                            <td th:text="${#strings.abbreviate(ad.title,20)}"></td>
                                            <td th:text="${#strings.abbreviate(ad.companyName,20)}">

                                            </td>
                                            <td >
                                                <a th:href="${ad.url}" target="_blank"><img th:src="@{${ad.path}}" alt="contact-img" title="contact-img" class="rounded mr-3" height="48"></a>
                                            </td>
                                            <td>[[${#dates.format(ad.begin_date,'yyyy-MM-dd')}]]至[[${#dates.format(ad.end_date,'yyyy-MM-dd')}]]</td>
                                            <td th:text="${ad.adName}"></td>
                                            <td th:text="${ad.price}"></td>
                                            <td th:switch="${ad.status}"  th:title="${ad.status==3}?${ad.message}" >
                                                <th:block th:replace="~{admin/incloud/status::status}"></th:block>
                                            </td>
                                            <td th:text="${ad.show_status==null?'-':ad.show_status}" th:style="${ad.is_verdue==1?'color: red;':''}" ></td>
                                            <td  th:text="${#dates.format(ad.create_date,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td>
                                                <a th:style="${ad.company_id==null?'display: none;':''}" href="javascript:void(0);" data-toggle='modal' th:onclick="|updateStatus(${ad.id},'${ad.title}')|"  data-target='#edit-modal' >[审核]</a>
                                                <th:block th:if="${ad.company_id == null}">
                                                    <a th:href="@{/admin/ad/edit(id=${ad.id})}">[编辑]</a>
                                                    <a href="javaScript:void(0)" th:onclick="|deleteMethod(${ad.id},'@{/admin/ad/delete}')|" style="color: red">[删除]</a>
                                                </th:block>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->
                <div th:replace="~{admin/incloud/page::page}"></div>
            </div> <!-- content -->
            <!--警告弹窗-->
            <th:block th:replace="~{admin/incloud/status::warning}"></th:block>

            <!--删除弹窗-->
            <th:block th:replace="~{admin/incloud/delete::deleteMode}"></th:block>

            <!-- Footer Start -->
            <div th:replace="~{admin/incloud/footer::footer}"></div>
            <!-- end Footer -->
        </div> <!-- content-page -->
    </div> <!-- end wrapper-->
</div>
<div class="rightbar-overlay"></div>

<!-- App js -->
<script src="assets/js/app.min.js" th:src="@{/assets/js/app.min.js}"></script>

<!-- third party js -->
<script src="assets/js/vendor/jquery.dataTables.min.js" th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script src="assets/js/vendor/dataTables.bootstrap4.js" th:src="@{/assets/js/vendor/dataTables.bootstrap4.js}"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js" th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script src="assets/js/vendor/responsive.bootstrap4.min.js" th:src="@{/assets/js/vendor/responsive.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/dataTables.buttons.min.js" th:src="@{/assets/js/vendor/dataTables.buttons.min.js}"></script>
<script src="assets/js/vendor/buttons.bootstrap4.min.js" th:src="@{/assets/js/vendor/buttons.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/buttons.html5.min.js" th:src="@{/assets/js/vendor/buttons.html5.min.js}"></script>
<script src="assets/js/vendor/buttons.flash.min.js" th:src="@{/assets/js/vendor/buttons.flash.min.js}"></script>
<script src="assets/js/vendor/buttons.print.min.js" th:src="@{/assets/js/vendor/buttons.print.min.js}"></script>
<script src="assets/js/vendor/dataTables.keyTable.min.js" th:src="@{/assets/js/vendor/dataTables.keyTable.min.js}"></script>
<script src="assets/js/vendor/dataTables.select.min.js" th:src="@{/assets/js/vendor/dataTables.select.min.js}"></script>
<!-- third party js ends -->

<!-- demo app -->
<script src="assets/js/pages/demo.datatable-init.js" th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
<!-- end demo js-->
<script th:src="@{/assets/js/list.js}"></script>

<th:block th:replace="~{admin/incloud/status::updateStatusJquery}"></th:block>

<th:block th:replace="~{admin/incloud/delete::deleteModeJquery}"></th:block>


</body>
</html>