<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8" />
    <title>推荐软件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico"  th:href="@{/assets/images/favicon.ico}" >

    <!-- third party css -->
    <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="assets/css/icons.min.css" th:href="@{/assets/css/icons.min.css}"  rel="stylesheet" type="text/css" />
    <link href="assets/css/app.min.css" th:href="@{/assets/css/app.min.css}"  rel="stylesheet" type="text/css" />



</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{web/incloud/top::top}"></div>
<!-- end Topbar -->


<div class="container-fluid">
    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <!-- Start Content-->

        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{web/incloud/left::left}"></div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <!-- end page title -->
                <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="text-center mt-2 mb-4">
                                    <a class="text-success">
                                        <span>付款</span>
                                    </a>
                                </div>
                                <div class="form-group">
                                    <div style="width: 50%;float: left;text-align: center;">微信</div>
                                    <div style="width: 50%;float: left;text-align: center;">支付宝</div>
                                </div>
                                <div class="form-group">
                                    <div style="width: 50%;float: left;text-align: center;"><img id="weixinImg" th:src="@{'/assets/images/users/avatar-1.jpg'}" alt="contact-img" title="contact-img" class="rounded"></div>
                                    <div style="width: 50%;float: left;text-align: center;"><img id="zhifubaoImg" th:src="@{'/assets/images/users/avatar-1.jpg'}" alt="contact-img" title="contact-img" class="rounded"></div>
                                </div>

                                <div class="form-group text-center">
                                    <button class="btn btn-primary" onclick="updateStock()" >提交</button>
                                </div>


                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-lg-10">
                                        <form id="list" th:action="@{/web/recommendProduct/list}" class="form-inline">
                                            <input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum}" />
                                            <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}" />

                                            <div class="form-group mb-2">
                                                <label class="mr-2">产品名称</label>
                                                <input type="search" class="form-control" name="title" th:value="${title}" id="title" placeholder="产品名称">
                                            </div>
                                            &nbsp;&nbsp;
                                            <div class="form-group mb-2">
                                                <label class="mr-2">发布时间</label>
                                                <input type="text" class="form-control" name ="startDate" data-provide="datepicker" data-date-autoclose="true" th:value="${startDate}">
                                                &nbsp;&nbsp;至&nbsp;&nbsp;
                                                <input type="text" class="form-control" name ="endDate" data-provide="datepicker" data-date-autoclose="true" th:value="${endDate}">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="text-lg-right">
                                            <button type="button" onclick="$('#list').submit();" id = "search" class="btn btn-light mb-2">搜索</button>
                                            <a th:href="@{/web/recommendProduct/add}" ><button type="button" class="btn btn-danger mb-2 mr-2"><i class="mdi mdi-basket mr-1"></i>发布推荐软件</button></a>
                                        </div>
                                    </div><!-- end col-->
                                </div>

                                <label>总共 [[${page.total}]]条</label>
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead class="thead-light">
                                        <tr class="text-lg-center">
                                            <th>序号</th>
                                            <th>标题</th>
                                            <th>广告图片</th>
                                            <th>有效期</th>
                                            <th>价格</th>
                                            <th>审核状态</th>
                                            <th>申请日期</th>
                                            <th style="width: 125px;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ad ,adStart :${page.list}" class="text-lg-center">
                                            <td th:text="${adStart.index+1}"></td>
                                            <td th:text="${#strings.abbreviate(ad.title,20)}"></td>
                                            <td ><a th:href="${ad.logo}" target="_blank"><img th:src="@{${ad.logo}}" alt="contact-img" title="contact-img" class="rounded mr-3" height="48"></a></td>
                                            <td>[[${#dates.format(ad.begin_date,'yyyy-MM-dd')}]]至[[${#dates.format(ad.end_date,'yyyy-MM-dd')}]]</td>
                                            <td th:text="${ad.price}"></td>
                                            <td th:title="${ad.status==3}?${ad.message}" >
                                                <th:block th:if="${ad.status==1}">
                                                    待审核
                                                </th:block>
                                                <th:block th:if="${ad.status==2}">
                                                    已通过
                                                </th:block>
                                                <th:block th:if="${ad.status==3}">
                                                    未通过
                                                </th:block>
                                            </td>
                                            <td  th:text="${#dates.format(ad.create_date,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td>
                                                <a th:style="${ad.status==3?'display: none;':''}" th:href="@{/web/recommendProduct/edit(id=${ad.id})}">[编辑]</a>
                                                <a th:href="@{/web/recommendProduct/delete(id=${ad.id})}">[删除]</a>
                                                <th:block th:if="${ad.status==2}">
                                                    <th:block th:if="${ad.payment_status==1}">
                                                        <a href="javascript:void(0);" data-toggle='modal' th:onclick="|payment(${ad.id})|" data-target='#edit-modal' >[去付款]</a>
                                                    </th:block>
                                                    <th:block th:if="${ad.payment_status==2}">
                                                        申请发票
                                                    </th:block>
                                                </th:block>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->
                <div th:replace="~{web/incloud/page::page}"></div>
            </div> <!-- content -->
            <!-- Footer Start -->
            <div th:replace="~{web/incloud/footer::footer}"></div>
            <!-- end Footer -->
        </div> <!-- content-page -->
    </div> <!-- end wrapper-->
</div>
<!-- END Container -->
<div class="rightbar-overlay"></div>
<!-- App js -->
<script src="assets/js/app.min.js" th:src="@{/assets/js/app.min.js}"></script>
<!-- third party js -->
<script src="assets/js/vendor/jquery.dataTables.min.js" th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script src="assets/js/vendor/dataTables.bootstrap4.js" th:src="@{/assets/js/vendor/dataTables.bootstrap4.js}"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js" th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script src="assets/js/vendor/responsive.bootstrap4.min.js" th:src="@{/assets/js/vendor/responsive.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/dataTables.buttons.min.js" th:src="@{/assets/js/vendor/dataTables.buttons.min.js}"></script>
<script src="assets/js/vendor/buttons.bootstrap4.min.js" th:src="@{/assets/js/vendor/buttons.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/buttons.html5.min.js" th:src="@{/assets/js/vendor/buttons.html5.min.js}"></script>
<script src="assets/js/vendor/buttons.flash.min.js" th:src="@{/assets/js/vendor/buttons.flash.min.js}"></script>
<script src="assets/js/vendor/buttons.print.min.js" th:src="@{/assets/js/vendor/buttons.print.min.js}"></script>
<script src="assets/js/vendor/dataTables.keyTable.min.js" th:src="@{/assets/js/vendor/dataTables.keyTable.min.js}"></script>
<script src="assets/js/vendor/dataTables.select.min.js" th:src="@{/assets/js/vendor/dataTables.select.min.js}"></script>
<!-- demo app -->
<script src="assets/js/pages/demo.datatable-init.js" th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
<!-- end demo js-->
<script th:src="@{/assets/js/list.js}"></script>


<script>

    var num = 5;
    function payment(id){
        // alert(name);
        console.log(id)
        var url = '[[@{/}]]';
        var comUrl = url.substring(0,url.length-1);
        console.log(comUrl)
        $("#weixinImg").attr("src",comUrl+"/web/recommendProduct/wxPay?adId="+id+"");
        $("#zhifubaoImg").attr("src",comUrl+"/web/recommendProduct/wxPay?adId="+id+"");
        // 每一秒查询一次
        if (num>0){
            setInterval(function() {
                $.ajax({
                    type:"GET",
                    contentType: "application/json",
                    url:'[[@{/web/recommendProduct/queryWxPay}]]',
                    data:{'id':id},
                    dataType: "json",
                    async: false,
                    success:function(data){
                        num--;
                        if (data||num==0){
                            window.location.reload();
                        }
                    }
                });
            }, 1000*10);
        }
    }

</script>


</body>
</html>