<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8" />
    <title>管理员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico"  th:href="@{/assets/images/favicon.ico}" >

    <!-- third party css -->
    <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="assets/css/icons.min.css" th:href="@{/assets/css/icons.min.css}"  rel="stylesheet" type="text/css" />
    <link href="assets/css/app.min.css" th:href="@{/assets/css/app.min.css}"  rel="stylesheet" type="text/css" />
</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{admin/incloud/top::top}"></div>
<!-- end Topbar -->


<div class="container-fluid">
    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <!-- Start Content-->

        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{admin/incloud/left::left}"></div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">
                <!-- end page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-lg-10">
                                        <form id="list" th:action="@{/admin/admin/list}" class="form-inline">
                                            <input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum}" />
                                            <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}" />
                                            <div class="form-group mx-sm-3 mb-2">
                                                <label class="mr-2">总共[[${page.total}]]条数据</label>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="name" class="mr-2">姓名</label>
                                                <input type="search" class="form-control" name="name" th:value="${name}" id="name" placeholder="用户名">
                                            </div>
                                            <div class="form-group mx-sm-3 mb-2">
                                                <label for="inputPassword2" class="mr-2">用户名</label>
                                                <input type="search" class="form-control" name="username" th:value="${username}" id="inputPassword2" placeholder="用户名">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="text-lg-right">
                                            <button type="button" onclick="$('#list').submit();" id = "search" class="btn btn-light mb-2">搜索</button>
                                            <th:block th:if="${type==0}">
                                                <a th:href="@{/admin/admin/add}" ><button type="button" class="btn btn-danger mb-2 mr-2"><i class="mdi mdi-basket mr-1"></i>添加管理员</button></a>
                                            </th:block>
                                        </div>
                                    </div><!-- end col-->
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>账号</th>
                                            <th>姓名</th>
                                            <th>邮箱</th>
                                            <th>是否锁定</th>
                                            <th>是否启用</th>
                                            <th>创建日期</th>
                                            <th style="width: 125px;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="admin :${page.list}">
                                            <td th:text="${admin.username}"></td>
                                            <td th:text="${admin.name}"></td>
                                            <td th:text="${admin.email}"></td>
                                            <td th:text="${admin.isLocked==1?'是':'否'}"></td>
                                            <td>
                                                <input type="checkbox" th:id="'isEnabled'+${admin.id}" name="isEnabled" th:class="${admin.id}" onclick="checkboxOnclick(this)" th:checked="${admin.isEnabled}" data-switch="success"/>
                                                <label th:for="'isEnabled'+${admin.id}" data-off-label="No" data-on-label="Yes"  ></label>
                                            </td>
                                            <td  th:text="${#dates.format(admin.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td>
                                                <th:block th:if="!${admin.isSystem}">
                                                    <a th:href="@{/admin/admin/edit(id=${admin.id})}" class="action-icon"> <i class="mdi mdi-account-card-details"></i></a>
                                                    <a href="javascript:void(0);" th:onclick="|deleteAdmin(${admin.id})|"  class="action-icon" style="color: red"> <i class="mdi mdi-delete"></i></a>
                                                </th:block>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->
                <div th:replace="~{admin/incloud/page::page}"></div>
            </div> <!-- content -->
            <!-- Footer Start -->
            <div th:replace="~{admin/incloud/footer::footer}"></div>
            <!-- end Footer -->
        </div> <!-- content-page -->
    </div> <!-- end wrapper-->
</div>
<div class="rightbar-overlay"></div>

<!--警告弹窗-->
<div id="warning-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-warning h1 text-warning"></i>
                    <h4 class="mt-2">警告</h4>
                    <p class="mt-3" id = "warningContent"></p>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<button  type="button" hidden class="btn btn-warning" id = "btn-warning" data-toggle="modal" data-target="#warning-alert-modal">警告</button>

<div id="danger-header-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="danger-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-danger">
                <h4 class="modal-title" id="danger-header-modalLabel">警告提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h5 class="mt-0">删除警告</h5>
                <p>你确定要删除么？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="method()">确定</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<button type="button" hidden class="btn btn-danger"  id = "deletePaymentMethod" data-toggle="modal" data-target="#danger-header-modal">删除</button>


<!-- App js -->
<script src="assets/js/app.min.js" th:src="@{/assets/js/app.min.js}"></script>

<!-- third party js -->
<script src="assets/js/vendor/jquery.dataTables.min.js" th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script src="assets/js/vendor/dataTables.bootstrap4.js" th:src="@{/assets/js/vendor/dataTables.bootstrap4.js}"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js" th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script src="assets/js/vendor/responsive.bootstrap4.min.js" th:src="@{/assets/js/vendor/responsive.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/dataTables.buttons.min.js" th:src="@{/assets/js/vendor/dataTables.buttons.min.js}"></script>
<script src="assets/js/vendor/buttons.bootstrap4.min.js" th:src="@{/assets/js/vendor/buttons.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/buttons.html5.min.js" th:src="@{/assets/js/vendor/buttons.html5.min.js}"></script>
<script src="assets/js/vendor/buttons.flash.min.js" th:src="@{/assets/js/vendor/buttons.flash.min.js}"></script>
<script src="assets/js/vendor/buttons.print.min.js" th:src="@{/assets/js/vendor/buttons.print.min.js}"></script>
<script src="assets/js/vendor/dataTables.keyTable.min.js" th:src="@{/assets/js/vendor/dataTables.keyTable.min.js}"></script>
<script src="assets/js/vendor/dataTables.select.min.js" th:src="@{/assets/js/vendor/dataTables.select.min.js}"></script>
<!-- third party js ends -->

<!-- demo app -->
<script src="assets/js/pages/demo.datatable-init.js" th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
<!-- end demo js-->
<script th:src="@{/assets/js/list.js}"></script>
<script>
    function deleteAdmin(id) {
        var datas = "{ \"id\": "+id+"}";
        $.ajax({
            type:"POST",
            contentType: "application/json",
            url:'[[@{/admin/admin/delete}]]',
            data:datas,
            dataType: "json",
            async: false,
            success:function(data){
                console.log(data)
                var html= data.msg;
                console.log(html)
                $('#warningContent').html(html);
                $("#btn-warning").click();
                setTimeout(function () {
                    window.location.reload();
                }, 1200);

                return ;
            }
        });

    }

    // 启用or禁用
    function checkboxOnclick(obj) {
        var name = obj.name;
        var id= obj.id;
        var value = $('#'+id).prop('checked');
        var datas = "{ \"id\": "+id.replace(name,'')+", \""+name+"\": "+value+"}";
        $.ajax({
            type:"POST",
            contentType: "application/json",
            url:'[[@{/admin/admin/updateAdmin}]]',
            data:datas,
            dataType: "json",
            async: false,
            success:function(data){
                console.log(data)
                var html= data.msg;
                console.log(html)
                $('#warningContent').html(html);
                $("#btn-warning").click();
                setTimeout(function () {
                    window.location.reload();
                }, 1200);

                return ;


            }
        });

    }


</script>

</body>
</html>