<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8" />
    <title>培训包管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico"  th:href="@{/assets/images/favicon.ico}" >

    <!-- third party css -->
    <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="assets/css/icons.min.css" th:href="@{/assets/css/icons.min.css}"  rel="stylesheet" type="text/css" />
    <link href="assets/css/app.min.css" th:href="@{/assets/css/app.min.css}"  rel="stylesheet" type="text/css" />



</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{admin/incloud/top::top}"></div>
<!-- end Topbar -->


<div class="container-fluid">
    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <!-- Start Content-->

        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{admin/incloud/left::left}"></div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <!-- end page title -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4>商品>培训包</h4><hr/>
                                <th:block th:replace="~{admin/incloud/status::updateStatusForm('/admin/product/updateTrainPackagesStatus')}"></th:block>
                                <div class="row mb-2">
                                    <div class="col-lg-8">
                                        <form id="list" th:action="@{/admin/product/trainPackages}" class="form-inline">
                                            <input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum}" />
                                            <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}" />
                                            <div class="form-group mb-2">
                                                <label for="name" class="mr-2">产品名称</label>
                                                <input type="search" class="form-control" name="name" th:value="${name}" id="name" placeholder="产品名称">
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label for="name" class="mr-2">编号</label>
                                                <input type="search" class="form-control" name="sn" th:value="${sn}" id="sn" placeholder="产品编号">
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label class="mr-2">分类</label>
                                                <select class="custom-select" id="parentProductCategory">
                                                    <option  value="" >--请选择--</option>
                                                    <option th:each="productCategorie:${productCategories}" th:value="${productCategorie.id}" th:text="${productCategorie.name}"></option>
                                                </select>
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <select class="custom-select" name="productCategory" id="productCategory">
                                                    <option  value="" >--请选择--</option>
                                                </select>
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label for="name" class="mr-2">发布时间</label>
                                                <input type="text" class="form-control"  name ="startDate" data-provide="datepicker" data-date-autoclose="true" th:value="${startDate}">
                                                 &nbsp;&nbsp;至&nbsp;&nbsp;
                                                <input type="text" class="form-control" name ="endDate" data-provide="datepicker" data-date-autoclose="true" th:value="${endDate}">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-lg-right">
                                            <button type="button" onclick="$('#list').submit();" id = "search" class="btn btn-light mb-2">搜索</button>
                                        </div>
                                    </div><!-- end col-->
                                </div>
                                <label class="mr-2 totalNum">总共 [[${page.total}]]条数据</label>
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead class="thead-light">
                                        <tr class="text-lg-center">
                                            <th>序号</th>
                                            <th>编号</th>
                                            <th>产品名称</th>
                                            <th>供应商</th>
                                            <th>产品分类</th>
                                            <th>销售价</th>
                                            <th>审核状态</th>
                                            <th>创建日期</th>
                                            <th style="width: 125px;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="product ,productStart :${page.list}" th:id="'tr_'+${product.id}" class="text-lg-center">
                                            <td th:text="${productStart.index+1}"></td>
                                            <td th:text="${product.sn}"></td>
                                            <td th:text="${product.name}"></td>
                                            <td th:text="${product.coName}"></td>
                                            <td th:text="${product.cname}"></td>
                                            <td th:text="'¥'+ ${#numbers.formatDecimal(product.price,1,'COMMA',2,'POINT')}"></td>
                                            <td th:switch="${product.status}" th:title="${product.status==3}?${product.message}" >
                                                <th:block th:replace="~{web/incloud/status::status}"></th:block>
                                            </td>
                                            <td  th:text="${#dates.format(product.create_date,'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td>
                                                <a th:href="@{/web/specifications/list(productId=${product.id})}" >[详情]</a>
                                                <a href="javascript:void(0);" data-toggle='modal' th:onclick="|updateStatus(${product.id},'${product.name}')|"  data-target='#edit-modal'>[审核]</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->
                <div th:replace="~{admin/incloud/page::page}"></div>
            </div> <!-- content -->

            <!-- Footer Start -->
            <div th:replace="~{admin/incloud/footer::footer}"></div>
            <!-- end Footer -->
        </div> <!-- content-page -->
    </div> <!-- end wrapper-->

</div>
<!-- END Container -->
<div class="rightbar-overlay"></div>
<!-- /Right-bar -->
<!-- App js -->
<script src="assets/js/app.min.js" th:src="@{/assets/js/app.min.js}"></script>

<!-- third party js -->
<script src="assets/js/vendor/jquery.dataTables.min.js" th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script src="assets/js/vendor/dataTables.bootstrap4.js" th:src="@{/assets/js/vendor/dataTables.bootstrap4.js}"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js" th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script src="assets/js/vendor/responsive.bootstrap4.min.js" th:src="@{/assets/js/vendor/responsive.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/dataTables.buttons.min.js" th:src="@{/assets/js/vendor/dataTables.buttons.min.js}"></script>
<script src="assets/js/vendor/buttons.bootstrap4.min.js" th:src="@{/assets/js/vendor/buttons.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/buttons.html5.min.js" th:src="@{/assets/js/vendor/buttons.html5.min.js}"></script>
<script src="assets/js/vendor/buttons.flash.min.js" th:src="@{/assets/js/vendor/buttons.flash.min.js}"></script>
<script src="assets/js/vendor/buttons.print.min.js" th:src="@{/assets/js/vendor/buttons.print.min.js}"></script>
<script src="assets/js/vendor/dataTables.keyTable.min.js" th:src="@{/assets/js/vendor/dataTables.keyTable.min.js}"></script>
<script src="assets/js/vendor/dataTables.select.min.js" th:src="@{/assets/js/vendor/dataTables.select.min.js}"></script>
<!-- third party js ends -->
<!-- demo app -->
<script src="assets/js/pages/demo.datatable-init.js" th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
<!-- end demo js-->
<script th:src="@{/assets/js/list.js}"></script>

<th:block th:replace="~{admin/incloud/status::updateStatusJquery}"></th:block>

<script>

    //点击顶级分类
    $("#parentProductCategory").change(function(){
        // alert()
        var id = $(this).val();
        console.log(id);
        dataSource(id);
    });

    function updateStatus(id,name){
         // alert(name);
         console.log(id)
        $('#update-id').val(id)
        $('#update-name').val(name)
    }


    //加载子集数据
    function dataSource(id) {
        // alert(id);
        var tbody = $("#productCategory");
        tbody.html("");
        var html = "";
        html = html+ "<option value=''>--请选择--</option>";
        $.ajax({
            type:"GET",
            url:'[[@{/web/category/queryCategory}]]',
            data:{id:id},
            dataType:"json",
            async: false,
            success:function(data){
                if(data.length>0){
                    for (var i = 0;i<data.length;i++){
                        html = html+ "<option value='"+data[i].id+"'>"+data[i].name+"</option>";

                    }
                }

                tbody.append(html);

            }
        });

    }

</script>
</body>
</html>