<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8" />
    <title>供应商</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico"  th:href="@{/assets/images/favicon.ico}" >

    <!-- third party css -->
    <link href="assets/css/vendor/jquery-jvectormap-1.2.2.css" th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="assets/css/icons.min.css" th:href="@{/assets/css/icons.min.css}"  rel="stylesheet" type="text/css" />
    <link href="assets/css/app.min.css" th:href="@{/assets/css/app.min.css}"  rel="stylesheet" type="text/css" />

</head>

<body>

<!-- Topbar Start -->
<div th:replace="~{admin/incloud/top::top}"></div>
<!-- end Topbar -->


<div class="container-fluid">
    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <!-- Start Content-->

        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{admin/incloud/left::left}"></div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <!-- end page title -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">

                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-body">
                                                <div class="text-center mt-2 mb-4">
                                                    <a class="text-success">
                                                        <span>审核</span>
                                                    </a>
                                                </div>

                                                <form class="pl-3 pr-3" method="post" novalidate onsubmit="return checkFrom()" th:action="@{/admin/company/updateCompanyStatus}" >
                                                    <input type="hidden" id = "update-id" name="id" />
                                                    <div class="form-group">
                                                        <label >标题名称</label>
                                                        <input class="form-control" type="text" id="update-name" readonly  unselectable="on"  name="name" required="">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="mr-2">审核状态</label>
                                                        <select id="adStatus" class="custom-select" name="status">
                                                            <option value="">请选择</option>
                                                            <option  value="2" >通过</option>
                                                            <option  value="3" >不予通过</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="example-textarea">说明:</label>
                                                        <textarea class="form-control" id="example-textarea" maxlength="30" rows="3" name="message" placeholder="说明"></textarea>
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <button class="btn btn-primary" type="submit">提交</button>
                                                    </div>

                                                </form>

                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>

                                <div class="row mb-2">
                                    <div class="col-lg-8">
                                        <form id="list" th:action="@{/admin/company/list}" class="form-inline">
                                            <input type="hidden" id="pageNum" name="pageNum" th:value="${page.pageNum}" />
                                            <input type="hidden" id="pageSize" name="pageSize" th:value="${page.pageSize}" />
                                            <div class="form-group mb-2">
                                                <label for="name" class="mr-2">公司名称</label>
                                                <input type="search" class="form-control" name="cname" th:value="${cname}" id="name" placeholder="公司名称">
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label for="adminName" class="mr-2">负责人</label>
                                                <input type="search" class="form-control" name="adminName" th:value="${adminName}" id="adminName" placeholder="负责人">
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label for="name" class="mr-2">账号</label>
                                                <input type="adminEmail" class="form-control" name="adminUserName" th:value="${adminUserName}" id="adminUserName"  placeholder="账号">
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label for="name" class="mr-2">邮箱</label>
                                                <input type="adminEmail" class="form-control" name="adminEmail" th:value="${adminEmail}" id="adminEmail"  placeholder="邮箱">
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label for="mobile" class="mr-2">联系电话</label>
                                                <input type="search" class="form-control" name="mobile" th:value="${mobile}" id="mobile" placeholder="联系电话">
                                            </div>
                                            <div class="form-group ml-2 mb-2">
                                                <label class="mr-2">状态</label>
                                                <select class="custom-select" name ="status">
                                                    <option  value="" >--请选择--</option>
                                                    <option th:selected="${status==1}" value="1" >待审核</option>
                                                    <option th:selected="${status==2}" value="2" >已通过</option>
                                                    <option th:selected="${status==3}" value="3" >未通过</option>
                                                    <option th:selected="${status==4}" value="4" >已过期</option>
                                                </select>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-lg-right">
                                            <button type="button" onclick="$('#list').submit();" id = "search" class="btn btn-light mb-2">搜索</button>
                                            <a th:href="@{/admin/company/add}" ><button type="button" class="btn btn-danger mb-2 mr-2"><i class="mdi mdi-basket mr-1"></i>添加供应商</button></a>
                                        </div>
                                    </div><!-- end col-->
                                </div>
                                <label class="mr-2">总共[[${page.total}]]条数据</label>
                                <div class="table-responsive">
                                    <table class="table table-centered mb-0">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>序号</th>
                                            <th>logo</th>
                                            <th>公司名称</th>
                                            <th>负责人</th>
                                            <th>账号</th>
                                            <th>邮箱</th>
                                            <th>状态</th>
                                            <th>有效时间</th>
                                            <th>联系电话</th>
                                            <th>创建日期</th>
                                            <th style="width: 125px;">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="cocmpany ,companyStart :${page.list}">
                                            <td th:text="${companyStart.index+1}"></td>
                                            <td class="sorting_1">
                                                    <img th:src="@{${cocmpany.logo}}" alt="contact-img" title="contact-img" class="rounded mr-3" height="48" width="90">
                                            </td>
                                            <td th:text="${cocmpany.name}"></td>
                                            <td th:text="${cocmpany.aname}"></td>
                                            <td th:text="${cocmpany.ausername}"></td>
                                            <td th:text="${cocmpany.aemail}"></td>
                                            <td th:switch="${cocmpany.status}" th:title="${cocmpany.status==3}?${cocmpany.message}">
                                                <p th:case="1">待审核</p>
                                                <p th:case="2">已通过</p>
                                                <p th:case="3">未通过</p>
                                            </td>
                                            <td>
                                                <th:block th:if="${new java.util.Date().getTime() > cocmpany.end_date.getTime()}">
                                                        已过期
                                                </th:block>
                                                <th:block th:if="${new java.util.Date().getTime() < cocmpany.end_date.getTime()}">
                                                    [[${#dates.format(cocmpany.start_date,'yyyy-MM-dd')}]]至[[${#dates.format(cocmpany.end_date,'yyyy-MM-dd')}]]
                                                </th:block>
                                            </td>
                                            <td th:text="${cocmpany.mobile}"></td>
                                            <td  th:text="${#dates.format(cocmpany.create_date,'yyyy-MM-dd')}"></td>
                                            <td>
                                                <a href="javascript:void(0);" data-toggle='modal' th:onclick="|updateStatus(${cocmpany.id},'${cocmpany.name}')|"  data-target='#edit-modal' >[审核]</a>
                                                <a target="_blank" th:href="@{/admin/company/view(id=${cocmpany.id})}">[预览]</a>
                                                <a th:href="@{/admin/company/edit(id=${cocmpany.id})}">[编辑]</a>
                                                <a href="javascript:void(0);" th:onclick="|modelShow('danger-header-modal',${cocmpany.id})|" >[进入]</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <!-- end row-->
                <div th:replace="~{admin/incloud/page::page}"></div>
            </div> <!-- content -->
            <!-- Footer Start -->
            <div th:replace="~{admin/incloud/footer::footer}"></div>
            <!-- end Footer -->
        </div> <!-- content-page -->
    </div> <!-- end wrapper-->
</div>
<div class="rightbar-overlay"></div>
<!--警告弹窗-->
<div id="warning-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center">
                    <i class="dripicons-warning h1 text-warning"></i>
                    <h4 class="mt-2">警告</h4>
                    <p class="mt-3" id = "warningContent"></p>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<button  type="button" hidden class="btn btn-warning" id = "btn-warning" data-toggle="modal" data-target="#warning-alert-modal">警告</button>

<!-- 进入供应商后台 -->
<div id="danger-header-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="danger-header-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-danger">
                <h4 class="modal-title" id="danger-header-modalLabel">警告提示</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <h5 class="mt-0">即将进入供应商后台管理，请谨慎操作</h5>
                <p>你确定要进入吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="getIntoCompany()">确定</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- App js -->
<script src="assets/js/app.min.js" th:src="@{/assets/js/app.min.js}"></script>

<!-- third party js -->
<script src="assets/js/vendor/jquery.dataTables.min.js" th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
<script src="assets/js/vendor/dataTables.bootstrap4.js" th:src="@{/assets/js/vendor/dataTables.bootstrap4.js}"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js" th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
<script src="assets/js/vendor/responsive.bootstrap4.min.js" th:src="@{/assets/js/vendor/responsive.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/dataTables.buttons.min.js" th:src="@{/assets/js/vendor/dataTables.buttons.min.js}"></script>
<script src="assets/js/vendor/buttons.bootstrap4.min.js" th:src="@{/assets/js/vendor/buttons.bootstrap4.min.js}"></script>
<script src="assets/js/vendor/buttons.html5.min.js" th:src="@{/assets/js/vendor/buttons.html5.min.js}"></script>
<script src="assets/js/vendor/buttons.flash.min.js" th:src="@{/assets/js/vendor/buttons.flash.min.js}"></script>
<script src="assets/js/vendor/buttons.print.min.js" th:src="@{/assets/js/vendor/buttons.print.min.js}"></script>
<script src="assets/js/vendor/dataTables.keyTable.min.js" th:src="@{/assets/js/vendor/dataTables.keyTable.min.js}"></script>
<script src="assets/js/vendor/dataTables.select.min.js" th:src="@{/assets/js/vendor/dataTables.select.min.js}"></script>
<!-- third party js ends -->

<!-- demo app -->
<script src="assets/js/pages/demo.datatable-init.js" th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
<!-- end demo js-->
<script th:src="@{/assets/js/list.js}"></script>


<script>
    var companyId;

    //校验表单提交
    function checkFrom() {


        var adStatus = $('#adStatus option:selected') .val();
        if (adStatus == "") {
            $('#warningContent').html('请选择审核状态');
            $("#btn-warning").click();
            return false;
        }

        if (adStatus == 3) {
            if ($('#example-textarea').val() == '') {
                $('#warningContent').html('不予通过请说明原因');
                $("#btn-warning").click();
                return false;
            }
        }

        return true;
    }

    function updateStatus(id,name){

        console.log(name)
        $('#update-id').val(id)
        $('#update-name').val(name)
    }

    function modelShow(mod,id){
        companyId = id;
        $("#"+mod).modal('show');
    }

    function getIntoCompany(){
        location.href = "/company?id="+companyId;
    }


</script>

</body>
</html>